body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input,
button,
textarea,
select {
  outline: none;
}

a:hover {
  text-decoration: none;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 40px;
  color: #664481;
  text-transform: inherit;
  line-height: 1.5;
}

h2 {
  font-weight: 600;
  font-size: 34px;
  color: #664481;
  text-transform: inherit;
  line-height: 1.5;
}

h3 {
  font-weight: 500;
  font-size: 30px;
  color: #664481;
  text-transform: inherit;
  line-height: 1.5;
}

h5 {
  font-weight: 500;
  font-size: 26px;
  color: #664481;
  text-transform: inherit;
  line-height: 1.5;
}

p {
  font-weight: 400;
  font-size: 16px;
  color: #081b38;
  text-transform: inherit;
  line-height: 1.5;
}

.nt-similar-hero-area {
  position: relative;
}

.nt-similar-hero-area img {
  width: 100%;
  height: auto;
}

.nt-similar-hero-btn .nt-hero-btn {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 80px;
}

.nt-similar-hero-btn .nt-hero-btn a {
  padding: 8px 18px;
  margin-left: 12px;
}

.nt-hero-container,
.nt-footer-container,
.nt-similar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  right: 0;
  z-index: 1;
}

.mobile-menu-icon {
  padding: 5px;
  border: 1.5px solid #081b38;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .5);
  box-shadow: 0 0 7px rgba(0, 0, 0, .5);
  display: none;
  position: absolute;
  right: 30px;
  top: 40px;
  z-index: 9;
}

.all-p-humber {
  width: 22px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}

.all-p-humber span {
  display: block;
  position: absolute;
  height: 2px;
  width: 22px;
  background: #081b38;
  border-radius: 0;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.all-p-humber span:nth-child(1) {
  top: 0px;
}

.all-p-humber span:nth-child(2),
.all-p-humber span:nth-child(3) {
  top: 7px;
}

.all-p-humber span:nth-child(4) {
  top: 14px;
}

.all-p-humber.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.all-p-humber.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.all-p-humber.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.all-p-humber.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/*===== Start NT Header Area Css =====*/

.nt-header-upper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 70px 0px 50px;
}

.neurodivergent-logo img {
  width: 370px;
  height: auto;
}

nav.neurodivergent-upper-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav.neurodivergent-upper-nav ul li a {
  font-weight: 400;
  font-size: 17px;
  color: #081b38;
  text-transform: uppercase;
  margin-left: 30px;
}

nav.neurodivergent-upper-nav ul li a:hover {
  color: #53BFEC;
}



nav.neurodivergent-lower-nav>ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav.neurodivergent-lower-nav ul li {
  position: relative;
}

nav.neurodivergent-lower-nav>ul li a {
  font-weight: 500;
  font-size: 28px;
  color: #664481;
  text-transform: lowercase;
  line-height: 1;
  padding: 20px 25px 30px;
  border: 1px solid transparent;
}

nav.neurodivergent-lower-nav>ul li a:hover {
  color: #53BFEC;
}

nav.neurodivergent-lower-nav>ul li:first-child a {
  padding-left: 0;
}

nav.neurodivergent-lower-nav>ul li:last-child a {
  padding-right: 0;
  margin-bottom: 0;
}

nav.neurodivergent-lower-nav ul li>ul {
  width: 450px;
  background: #FFFFFF;
  padding: 10px 25px 40px;
  border: 1px solid rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .6);
  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
  border-radius: 10px;
  border-top-left-radius: 0;
  margin-top: 2px !important;
}

nav.neurodivergent-lower-nav ul li>ul li>a {
  font-weight: 400;
  font-size: 22px;
  color: #664481;
  text-transform: inherit;
  padding: 0;
  margin-bottom: 15px;
}

.dropdown-toggle.show {
  border: 1px solid rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .6);
  box-shadow: 0 0 5px rgba(0, 0, 0, .6);
  padding: 20px 25px 30px;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  z-index: 9999;
  color: #664481;
}

.dropdown-toggle.show::before {
  content: '';
  position: absolute;
  background: #FFFFFF;
  width: 100%;
  height: 10px;
  left: 0;
  bottom: -7px;
}

.dropdown-toggle::after {
  margin-left: 10px;
  margin-bottom: -5px;
  border-top: 0.48em solid;
}


/*===== End NT Header Area Css =====*/

/*===== Start NT Hero Area Css =====*/
.nt-hero-area {
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  background-position: center center !important;
  position: relative;
}


section.nt-hero-area img {
  width: 100%;
  height: auto;
}

.nt-hero-content {
  max-width: 570px;
  padding-top: 80px;
  padding-bottom: 140px;
}

.nt-hero-content h5 {
  font-weight: 500;
  font-size: 28px;
  color: #081b38;
  text-transform: inherit;
  line-height: 1.6;
}

.nt-hero-content p {
  font-weight: 400;
  font-size: 27px;
  color: #081b38;
  text-transform: inherit;
  line-height: 1.6;
  margin: 30px 0;
}

.nt-hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nt-hero-btn a {
  font-weight: 500;
  font-size: 22px;
  color: #000000;
  text-transform: lowercase;
  border: 2px solid #000000;
  padding: 5px 15px;
  border-radius: 12px;
  background: #6CC9EB;
  line-height: 1;
  margin-right: 12px;
}

.nt-hero-btn a:hover {
  background: #CBC817;
}


/*===== End NT Hero Area Css =====*/

/*===== Start NT Health Crisis Area Css =====*/

.nt-health-crisis-area {
  background-color: #ffffff;
  padding-top: 50px;

}

.nt-health-crisis-content {
  width: 90%;
  margin: auto;
}

.single-nt-health-crisis-content {
  padding: 0 50px;
}

.single-nt-health-crisis-img img {
  height: 75px !important;
  width: auto !important;
  margin: 0 auto;
}

.nt-health-crisis-bottom-border img {
  width: 100%;
  height: auto;
}

.nt-health-crisis-heading-text h3 {
  width: 65%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
  margin-bottom: 50px;
}

.single-nt-health-crisis-text p {
  font-weight: 400;
  font-size: 19px;
  color: #005885;
  text-transform: inherit;
  line-height: 1.4;
  margin-top: 25px;
}

.nt-health-crisis-content.owl-theme button.owl-next img,
.nt-health-crisis-content.owl-theme button.owl-prev img {
  width: 18px;
  position: absolute;
  top: 80px;
}

.nt-health-crisis-content.owl-theme button.owl-next img {
  right: -40px;
}

.nt-health-crisis-content.owl-theme button.owl-prev img {
  left: -40px;
}

.nt-health-crisis-content.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  text-decoration: none;
}




/*===== End NT Health Crisis Area Css =====*/

/*===== Start NT Mental Health Area Css =====*/

.nt-mental-health-area {
  background-color: #FFFFFF;
  padding-top: 100px;
  padding-bottom: 65px;
}

.nt-mental-health-heading h2 {
  text-align: center;
  margin-bottom: 80px;
}

.nt-mental-health-upper-left-content {
  width: 95%;
  padding-top: 25px;
}

.nt-mhu-left-heading h5 {
  font-weight: 500;
  font-size: 26px;
  color: #664481;
  text-transform: inherit;
  line-height: 1.5;
}

.nt-mhu-left-heading p {
  font-weight: 400;
  font-size: 22px;
  color: #664481;
  text-transform: inherit;
  line-height: 1.5;
  margin: 30px 0 50px;
}


.nt-mhu-left-heading p {
  font-weight: 400;
  font-size: 22px;
  color: #664481;
  text-transform: inherit;
  line-height: 2;
  margin: 30px 0 40px;
}

.nt-mhu-left-heading img {
  width: 100px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 50px;
}

.nt-mhu-left-text p {
  font-weight: 400;
  font-size: 20px;
  color: #664481;
  text-transform: inherit;
  line-height: 2;
  margin-bottom: 35px;
}


.nt-mental-health-upper-right-content {
  padding-left: 10%;
}

.nt-mhu-right-tab-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nt-mhu-right-tab-btn button {
  font-weight: 600;
  font-size: 21px;
  color: #005885;
  text-transform: inherit;
  line-height: 1.5;
  border: none;
  background: #F4F4F4;
  padding: 30px 40px 50px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  text-align: left;
  position: relative;
}

.nt-mhu-right-tab-btn button.active {
  background-color: #FFFFFF;
}

.nt-mhu-right-tab-btn button.active::after {
  content: '';
  position: absolute;
  background: #FFFFFF;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: -23px;
  z-index: 2;
}

.nt-mhu-right-text {
  background: #FFFFFF;
  padding: 50px 40px;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, .3);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, .3);
  border-radius: 15px;
  margin-top: -20px;
  z-index: 1;
  position: relative;
}

.single-nt-mhu-right-text p img {
  width: 15px;
  height: auto;
  margin-right: 6px;
}

.nt-mhu-right-text h5 {
  font-weight: 600;
  font-size: 20px;
  color: #664481;
  text-transform: inherit;
  line-height: 1.5;
  width: 95%;
}

.single-nt-mhu-right-text p {
  font-size: 19px;
  color: #664481;
  text-transform: inherit;
  line-height: 1.5;
}

.single-nt-mhu-right-text,
.single-nt-mhu-right-child-text {
  margin-top: 25px;
}

.nt-mhu-right-text {
  display: none;
}

.nt-mental-health-upper-content {
  margin-bottom: 80px;
}

.single-nt-mhl-image img {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.single-nt-mhl-content {
  border: 1px solid #795b91;
  border-radius: 15px;
  min-height: 518px;
}

.single-nt-mhl-text {
  padding: 20px 20px 40px;
}

.single-nt-mhl-text h4 {
  font-weight: 400;
  font-size: 22px;
  color: #664481;
  text-transform: inherit;
  line-height: 1.4;
  width: 95%;
}

.single-nt-mhl-text p {
  color: #005885;
  margin: 25px 0;
  line-height: 1.3;
}

.single-nt-mhl-link a {
  font-weight: 500;
  font-size: 17px;
  color: #005885;
  line-height: 1.2;
}

.single-nt-mhl-link a:hover {
  color: #5b9e6b;
}

.nt-mental-health-lower-content .row>*,
.nt-accessing-gp-lower-step .row>*,
.nt-accessing-gp-lower-videos .row>*,
.nt-urgent-help-upper-content .row>* {
  padding-right: calc(var(--bs-gutter-x) * .7);
  padding-left: calc(var(--bs-gutter-x) * .7);
}


/*===== End NT Mental Health Area Css =====*/

/*============================================================*/
/*================ Start NT About Us Page Css ================*/
/*============================================================*/

/*===== Start NT About Us Area Css =====*/
.nt-about-us-area {
  padding-top: 50px;
}

.nt-about-us-left-content h6 {
  font-weight: 400;
  font-size: 23px;
  color: #664481;
  text-transform: inherit;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 40px;
}

.nt-about-us-left-content p {
  font-weight: 400;
  font-size: 18px;
  color: #664481;
  line-height: 1.7;
}

.nt-about-us-right-content {
  padding-left: 80px;
}

.nt-about-us-border img {
  width: 100%;
  height: auto;
  margin-top: 60px;
}

.nt-about-us-right-heading h6 {
  font-weight: 500;
  font-size: 26px;
  color: #cb7c18;
  text-transform: inherit;
  margin-bottom: 40px;
}

.nt-about-us-right-link p {
  font-weight: 400;
  font-size: 20px;
  display: block;
  color: #cb7c18;
}

/*===== End NT About Us Area Css =====*/

/*===== Start NT About Us Area Css =====*/
section.nt-about-goal-area {
  padding-top: 80px;
  padding-bottom: 120px;
}


/* bootstrap custom accordion css  */
button.accordion-button {
  font-weight: 600;
  font-size: 25px;
  color: #cb7c18;
  padding: 0;
  background: transparent;
  border: none;
}

.accordion-item {
  border: none;
  width: auto;
  margin-bottom: 10px;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--bs-accordion-active-bg);
  -webkit-box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  background: transparent;
  padding-bottom: 5px;
  border-bottom: 1px solid #664481;
  color: #664481;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.accordion-button::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: 0.45em solid;
  border-right: .28em solid transparent;
  border-bottom: 0;
  border-left: .28em solid transparent;
  background-image: none;
  width: 0;
  height: auto;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  display: none;
}

.accordion-body {
  padding: 20px 0 15px;
}

.single-nt-about-accordion-item p {
  color: #664481;
  line-height: 1.7;
}

.single-nt-about-accordion-item p span {
  font-weight: 600;
  color: #664481;
}

.single-nt-about-accordion-item {
  margin-bottom: 30px;
}

.single-nt-about-accordion-item:last-child {
  margin-bottom: 0;
}

/* bootstrap custom accordion css  */

.single-nt-about-lower-team {
  margin-top: 90px;
}

.single-nt-about-team-image img {
  width: 100%;
  height: auto;
}

.single-nt-about-team-text {
  text-align: center;
  margin-top: 35px;
}

.single-nt-about-team-text h5 {
  font-weight: 500;
  font-size: 29px;
  color: #664481;
  text-transform: capitalize;
}

.single-nt-about-team-text p {
  color: #664481;
}

.single-nt-about-team-image img {
  width: 345px;
  height: 345px;
  border-radius: 50%;
  border: 18px solid #74d6c8;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.tm1 img {
  border: 18px solid #74d6c8;
}

.tm2 img {
  border: 18px solid #d8d877;
}

.tm3 img {
  border: 18px solid #c995c7;
}

.tm4 img {
  border: 18px solid #e5b070;
}

.tm5 img {
  border: 18px solid #85d69c;
}

.tm6 img {
  border: 18px solid #64d5f4;
}

/*===== End NT About Us Area Css =====*/



/*============================================================*/
/*================ Start NT Accessing Page Css ===============*/
/*============================================================*/

/*===== Start NT Accessing Area Css =====*/

.nt-accessing-gp-area {
  background: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 100px;
}

.nt-accessing-gp-upper-heading h1 {
  margin-bottom: 40px;
}

.nt-accessing-gp-upper-right-text {
  padding-left: 85px;
}

.nt-accessing-gp-upper-left-text p {
  font-size: 22px;
  color: #005885;
  width: 88%;
  margin-bottom: 45px;
}

.nt-accessing-gp-upper-right-text h5 {
  font-size: 20px;
  color: #005885;
}

.nt-accessing-gp-upper-right-text-list p img {
  width: 15px;
  height: auto;
  margin-right: 6px;
}

.nt-accessing-gp-upper-right-text-list {
  padding-top: 25px;
}

.nt-accessing-gp-upper-right-text-list p {
  color: #005885;
  margin-bottom: 10px;
}

.nt-accessing-gp-upper-middle-text p {
  font-size: 22px;
  font-weight: 500;
  color: #005885;
  margin-top: 30px;
  width: 92%;
}

.nt-accessing-gp-upper-middle-text {
  padding-top: 60px;
  padding-bottom: 80px;
}

.nt-accessing-gp-upper-dropdown-content button.accordion-button {
  width: 65%;
}

.accessing-dropdown-body p {
  color: #664481;
}

.accessing-dropdown-body p span {
  font-weight: 600;
  color: #664481;
}

.accessing-dropdown-body h6 {
  font-weight: 600;
  font-size: 20px;
  color: #664481;
}

.accessing-dropdown-body p,
.accessing-dropdown-body h6 {
  margin-bottom: 25px;
}

.accessing-dropdown-body p:nth-last-child(2) {
  margin-bottom: 8px;
}

.accessing-dropdown-body p:last-child {
  margin-bottom: 0;
}

.single-nt-accessing-gp-lower {
  background: url('../images/accessing/s1.png');
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  padding: 50px 65px 80px;
  border-radius: 10px;
  min-height: 345px;
  position: relative;
}

.single-nt-accessing-gp-lower.step1 {
  background: url('../images/accessing/s1.png');
}

.single-nt-accessing-gp-lower.step2 {
  background: url('../images/accessing/s2.png');
}

.single-nt-accessing-gp-lower.step3 {
  background: url('../images/accessing/s3.png');
}

.single-nt-accessing-gp-lower h6 {
  font-weight: 600;
  font-size: 22px;
  color: #005885;
  text-transform: inherit;
  text-align: center;
  line-height: 1.4;

}

.nt-accessing-gp-lower-step {
  padding-top: 60px;
  padding-bottom: 80px;
}

.single-nt-accessing-gp-lower-videos iframe {
  width: 100%;
  margin-bottom: 25px;
}


/*===== End NT Accessing Area Css =====*/

/*==============================================================*/
/*================ Start NT Urgent Help Page Css ===============*/
/*==============================================================*/

/*===== Start NT Urgent Help Area Css =====*/
.nt-urgent-help-area {
  background: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 100px;
}

.nt-urgent-help-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.nt-urgent-help-heading h3 {
  color: #027db9;
  text-align: right;
}

.single-nt-urgent-help-upper {
  border: 1px solid #795b91;
  border-radius: 22px;
  min-height: 728px;
}

.single-nt-urgent-help-upper-image img {
  width: 100%;
  height: auto;
}

.single-nt-urgent-help-upper-text {
  padding: 20px 35px 30px;
}

.single-nt-urgent-help-upper-text h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.3;
}

.single-nt-urgent-help-upper-text h3 {
  width: 75%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.single-nt-urgent-help-upper-accordion button.accordion-button {
  color: #5b9e6b;
}

.single-nt-urgent-help-upper-accordion .accordion-button:not(.collapsed) {
  color: #005885;
}

.single-nt-urgent-help-accordion-body p {
  color: #005885;
  margin-bottom: 15px;

}

.single-nt-urgent-help-accordion-body-list p {
  line-height: 1.3;
}

.single-nt-urgent-help-accordion-body-list p img {
  width: 12px;
  height: auto;
  margin-right: 2px;
}

.single-nt-urgent-help-upper-accordion .accordion-body {
  padding-bottom: 0;
}

.single-nt-urgent-help-accordion-body p span {
  font-weight: 500;
}

.nt-urgent-help-upper-left-text,
.nt-urgent-help-upper-right-text {
  border: 1px solid #795b91;
  border-radius: 15px;
  padding: 40px 45px;
}

.nt-urgent-help-upper-content .row:last-child {
  margin-top: 30px;
  padding-bottom: 20px;
}

.nt-urgent-help-upper-left-text p {
  color: #005885;
  margin-top: 25px;
}

.nt-urgent-help-upper-right-text h1 {
  font-size: 44px;
  color: #027db9;
  line-height: 1.3;
}

.nt-urgent-help-upper-right-text h5 {
  font-size: 24px;
  color: #027db9;
  margin-top: 60px;
}

/* ----- === ----- */
.nt-urgent-help-lower-content {
  padding-left: .7em;
  padding-right: 2em;
}

.parent-single-nt-urgent-help-lower-content {
  border-top: 10px solid #cebace;
  padding-top: 30px;
  position: relative;
}

.single-nt-urgent-help-lower-heading p {
  font-size: 18px;
  color: #005885;
  margin-top: 10px;
}

.single-nt-urgent-help-lower-row p,
.single-nt-urgent-help-lower-row a {
  font-weight: 400;
  font-size: 20px;
  color: #005885;
  text-transform: inherit;
}

.single-nt-urgent-help-lower-row {
  padding: 50px 0;
}

.single-nt-urgent-help-lower-left-img-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 35px;
}

.single-nt-urgent-help-lower-left-content .single-nt-urgent-help-lower-left-img-txt:last-child {
  margin-bottom: 0;
}

.single-nt-urgent-help-lower-left-img-txt img,
.single-nt-urgent-help-lower-middle-content img {
  width: 42px;
  height: auto;

}

.single-nt-urgent-help-lower-left-img-txt img {
  margin-right: 15px;
}

.single-nt-urgent-help-lower-middle-content img {
  margin-bottom: 40px;
}

.single-nt-urgent-help-lower-right-content a {
  font-weight: 500;
  font-size: 18px;
  color: #005885;
}

.single-nt-urgent-help-lower-row .row {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.single-nt-urgent-help-lower-left-content,
.single-nt-urgent-help-lower-middle-content {
  border-right: 1px solid #a996b8;
  padding: 10px 0;
}

.single-nt-urgent-help-lower-right-content a {
  font-weight: 500;
  font-size: 18px;
  color: #005885;
  max-width: 160px;
}


/*===== End NT Urgent Help Area Css =====*/




/*===== Start NT Footer Area Css =====*/
.nt-footer-area {
  position: relative;
}

.nt-footer-area img {
  width: 100%;
  height: auto;
}

.nt-footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 70px 0 270px;
}

.nt-footer-left-link,
.nt-footer-left-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


.nt-footer-left-link a {
  font-weight: 500;
  font-size: 25px;
  color: #FFFFFF;
  text-transform: lowercase;
  line-height: normal;
  margin-right: 35px;
}

.nt-footer-left-link a:hover {
  color: #53BFEC;
}


.nt-footer-left-text p {
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  text-transform: inherit;
  line-height: normal;
  margin-top: 30px;
}

.nt-footer-left-social a i {
  font-size: 35px;
  color: #FFFFFF;
  margin-left: 20px;
}

.nt-footer-left-social a i:hover {
  color: #53BFEC;
}


/*===== End NT Footer Area Css =====*/